<form action="/add"method="POST">
    <p>Titulo:</p>
    <input type="text" name="title">
    <p>Conteúdo</p>
    <textarea name="content" ></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>